<div class="row">
  <div class="col-md-4"><a href="<%= admin_categories_path() %>" class="btn btn-primary"><%= t :categories, scope: :dashbroad %></a></div>
  <div class="col-md-4"><a href="<%= admin_words_path() %>" class="btn btn-primary"><%= t :word, scope: :dashbroad %></a></div>
</div>
