<tr>
  <td><span class="<%= lesson_word.answer.is_true ? "glyphicon glyphicon-ok green-color" : "glyphicon glyphicon-remove red-color" %>"></span></td>
  <td><%= lesson_word.word.content %></td>
  <td><%= lesson_word.answer.content %></td>
</tr>
