<div class="row">
  <div class="col-md-6">
    <p><strong class="title"><%= category.title %></strong> <%= category.description %></p>
    <br>
    <p><%= category.content %></p>
    <br>
    <%= link_to t(:start, scope: :categories), lessons_path(category_id: category.id), method: :POST, class: "btn btn-primary pull-right" %>
  </div>
  <div class="col-md-6 category-right"></div>
</div>